<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" href="public/img/favicon.ico" mce_href="public/img/logo_i.png" type="image/x-icon">
    <title>SpyMyFone - Llamadas - Live Demo</title>

    <link href="https://statics.spymyfone.com/css/main.min.css" rel="stylesheet">
    <link href="https://statics.spymyfone.com/css/table.css" rel="stylesheet">
</head>

<body>
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>

    <!--mobile top-->
    <div class="mobile_header visible-xs-block visible-sm-block">
        <a href="#" class="menu_btn mobile-menu"><i class="si si-table"></i></a>
        <div class="other_btn">
            <a href="#" class="btn btn-border btn-xs">Pruébalo Ahora</a>
        </div>
        <div class="column">SpyMyFone</div>
    </div>
    <!--end mobile top-->

    <div class="livedemo_tab">
        <div class="livedemo_top">
            <a href="#" class="curr"><i class="si si-android"></i> Demo de Android</a>
            <a href="#">Ver Demo de iOS &gt;&gt;</a>
        </div>
        <div class="livedemo_tab_group">
            <a href="#" class="curr">Demo de Android</a>
            <a href="#">Demo de iOS</a>
        </div>
    </div>
    <!-- live demo end -->

    <div class="page_container">
        <!--app hide-->
        <!--sidebar-->
        <div class="main_sidebar">
            <div class="sidebar_menu">
                <div class="side_header">
                    <div class="logo_box"><a href="#" target="_blank" class="logo logo_spyzie">SpyMyFone</a></div>

                    <!--refresh now start-->
                    <div class="account_info">
                        livedemo@spymyfone.com
                        <div class="sync_time">
                            <div class="time">
                                <button type="button" class="btn btn-link btn_sync"><span><i class="si si-sync"></i></span></button> <i>Manténgase actualizado: abr. 10, 2017 11:28</i>
                            </div>
                        </div>
                    </div>
                    <!--refresh now end-->
                    <div class="select_device select_device_dropdown">
                        <div class="btn_dropdown">
                            <span class="icon"><i class="si si-phone"></i></span>
                            <span class="name" title="Demo's Galaxy S7">
                                    Demo's Galaxy S7                                </span>
                        </div>
                    </div>
                </div>
                <div class="nav side_select_nav" style="display:none;">
                    <ul>
                        <li>
                            <a href="#" title="Demo's iPhone">
                                <i class="si si-phone"></i>
                                <span>Demo's iPhone</span>
                            </a>
                        </li>
                        <li><a href="#"><i class="si si-add"></i><span>Añadir nuevo dispositivo</span></a>
                        </li>
                    </ul>
                </div>
                <div class="nav side_select_nav side_menu">
                    <ul>
                        <li id="site_index">
                            <a href="#"><i class="si si-dashboard"></i><span>Tablero</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="clue_index">
                            <a href="#"><i class="si si-eye"></i><span>Pista</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="call_log_index" class="curr">
                            <a href="#"><i class="si si-call"></i><span>Llamadas</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="contacts_index">
                            <a href="#"><i class="si si-contacts"></i><span>Contactos</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="sms_index">
                            <a href="#"><i class="si si-message"></i><span>Mensajes</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="social_apps_" class="level">
                            <a href="#"><i class="si si-socialapps"></i><span>Apps sociales <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                            <ul>
                                <li id="whats_app_index"><a href="#"><span>WhatsApp</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="whatsapp_files_index"><a href="#"><span>Archivos de WhatsApp</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_facebook"><a href="#"><span>Facebook</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_messenger"><a href="#"><span>Messenger</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_snapchat"><a href="#"><span>Snapchat</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_skype"><a href="#"><span>Skype</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_line"><a href="#"><span>LINE</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_instagram"><a href="#"><span>Instagram</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_viber"><a href="#"><span>Viber</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_kik"><a href="#"><span>Kik</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_tinder"><a href="#"><span>Tinder</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_wechat"><a href="#"><span>WeChat</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_qq"><a href="#"><span>QQ</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_hangouts"><a href="#"><span>Hangouts</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_telegram"><a href="#"><span>Telegram</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_messengerlite"><a href="#"><span>Messenger Lite</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_facebooklite"><a href="#"><span>Facebook Lite</span><i class="new_icon new_icon3 hide"></i></a></li>
                                <li id="social_apps_tumblr"><a href="#"><span>Tumblr</span><i class="new_icon new_icon3 hide"></i></a></li>
                            </ul>
                        </li>
                        <li id="location_index">
                            <a href="#"><i class="si si-location_mark"></i><span>Ubicaciones</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="geo_fence_index">
                            <a href="#"><i class="si si-geo_fence"></i><span>Geo-Cercas <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="screenshots_index">
                            <a href="#"><i class="si si-screenshot"></i><span>Tomar Capturas de Pantallas</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="browser_log_index">
                            <a href="#"><i class="si si-history"></i><span>Historial del Navegador</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="images_index">
                            <a href="#"><i class="si si-photos"></i><span>Fotos</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="videos_index">
                            <a href="#"><i class="si si-video"></i><span>Previsualizacion de Video</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="voices_index">
                            <a href="#"><i class="si si-voice"></i><span>Nota de voz <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="documents_index">
                            <a href="#"><i class="si si-document"></i><span>Documentos <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="calendar_index">
                            <a href="#"><i class="si si-calendar"></i><span>Calendarios</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="wifi_logger_index">
                            <a href="#"><i class="si si-wifi"></i><span>Registrador de WiFi <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="key_logger_index">
                            <a href="#"><i class="si si-keylogger"></i><span>Registrador de Teclas <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="apps_index">
                            <a href="#"><i class="si si-appstore"></i><span>Aplicaciones</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="device_schedule_index">
                            <a href="#"><i class="si si-device_schedule"></i><span>Restricción Programada</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="app_activity_index">
                            <a href="#"><i class="si si-app_activity"></i><span>Actividad de las Aplicaciones</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="toggle_alerts_index">
                            <a href="#"><i class="si si-toggle_alerts"></i><span>Alertas de Palabras Claves <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="mail_index">
                            <a href="#"><i class="si si-mail"></i><span>E-mail <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                        <li id="auto_snapshot_index">
                            <a href="#"><i class="si si-appshot"></i><span>Captura Inteligente <span class="label">HOT</span></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                        </li>
                    </ul>
                    <ul class="other">
                        <li><a href="#" target="_blank"><i class="si si-help"></i><span>Ayuda</span></a></li>
                        <li><a href="#" target="_blank"><i class="si si-feedback"></i><span>Feedback</span></a>
                        </li>
                        <li><a href="#"><i class="si si-logout"></i><span>Cerrar Sesión</span></a>
                        </li>
                        <li><span>&nbsp;</span></li>
                        <li><span>&nbsp;</span></li>
                        <li><span>&nbsp;</span></li>
                        <li><span>&nbsp;</span></li>
                        <li><span>&nbsp;</span></li>
                        <li><span>&nbsp;</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end sidebar-->

        <div class="main_content ">
            <div class="main_header">
                <ul class="user-info-menu hidden-xs hidden-sm">
                    <li class="user-profile-link">
                        <a href="#" class="btn-full btn_try_now">Pruébalo Ahora</a>
                    </li>
                </ul>
                <h1 class="column">Llamadas</h1>
            </div>

            <div class="commonAlert">
            </div>

            <div id="app">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel-header panel_operation clearfix">
                            <div class="screen">
                                <div class="panel-options calendar" m-search="">
                                    <div class="btn btn-default dropdown">
                                        <div data-toggle="dropdown" class="dropdown-toggle"><i class="si si-calendar"></i> <span>Todo el Tiempo</span> <i class="si si-angle_down"></i></div>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#">Hoy</a></li>
                                            <li><a href="#">Ayer</a></li>
                                            <li><a href="#">7 Días Anteriores</a></li>
                                            <li><a href="#">30 Días Anteriores</a></li>
                                            <li><a href="#">Este Mes</a></li>
                                            <li><a href="#">Mes Pasado</a></li>
                                            <!---->
                                        </ul>
                                    </div>
                                </div>
                                <div class="search">
                                    <div class="box">
                                        <input type="text" name="search" placeholder="Búsqueda" maxlength="20">
                                        <button><i class="si si-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableStyle mobileTable_line">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr class="hidden-xs hidden-sm">
                                        <th>
                                            <a href="#" data-sorting="" class=""></a>
                                        </th>
                                        <th><a href="#" data-sorting="" class="">Nombre</a></th>
                                        <th><a href="#" data-sorting="square" class="">Número de Teléfono</a></th>
                                        <th><a href="#" data-sorting="square" class="">Duración</a></th>
                                        <th><a href="#" data-sorting="square" class="desc">Fecha</a></th>
                                        <th><a href="#" data-sorting="square" class="">Tipo de Llamada</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/d.png" src="public/img/d.png" style="display: inline;"></span><span class="name"><span title="Yohanes Nugroho">Yohanes Nugroho</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="0888 206 1713">0888 206 1713</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 16:48:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/d.png" src="public/img/d.png" style="display: inline;"></span><span class="name"><span title="Yohanes Nugroho">Yohanes Nugroho</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="0888 206 1713">0888 206 1713</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:35:11</div>
                                        </td>
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="si si-delete delete"></i></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/e.png" src="public/img/e.png" style="display: inline;"></span><span class="name"><span title="Tom Brackey">Tom Brackey</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="3102472165">3102472165</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:35:06</div>
                                        </td>
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/c.png" src="public/img/c.png" style="display: inline;"></span><span class="name"><span title="Tobias Wagenschwanz">Tobias Wagenschwanz</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="07427466444">07427466444</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:35:01</div>
                                        </td>
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="si si-delete delete"></i></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/b.png" src="public/img/b.png" style="display: inline;"></span><span class="name"><span title="Théophane">Théophane</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="13426450006">13426450006</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:34:55</div>
                                        </td>
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="si si-delete delete"></i></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/default_avatar.png" src="public/img/default_avatar.png" style="display: inline;"></span><span class="name"><span title="Desconocido">Desconocido</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="4022910999">4022910999</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:34:50</div>
                                        </td>
                                        <!---->
                                        <!---->
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="" src="" style="display: inline;"></span><span class="name"><span title="Stary Cai">Stary Cai</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="34818461967">34818461967</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:34:43</div>
                                        </td>
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="si si-delete delete"></i></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/default_avatar.png" src="public/img/default_avatar.png" style="display: inline;"></span><span class="name"><span title="Desconocido">Desconocido</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="3055320510">3055320510</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:34:19</div>
                                        </td>

                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/f.png" src="public/img/f.png" style="display: inline;"></span><span class="name"><span title="Michelle">Michelle</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="064215379">064215379</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:34:14</div>
                                        </td>

                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="si si-delete delete"></i></td>
                                        <td class="td_user_img">
                                            <div class="tc user_img"><span class="phone_img"><img class="lazy" alt="" data-original="public/img/default_avatar.png" src="public/img/default_avatar.png" style="display: inline;"></span><span class="name"><span title="Desconocido">Desconocido</span></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="tc"><span title="+18587043344">+18587043344</span></div>
                                        </td>
                                        <td>
                                            <div class="tc">00:00:00</div>
                                        </td>
                                        <td>
                                            <div class="tc">10 abr. 2017 14:34:09</div>
                                        </td>
                                        <!---->
                                        <!---->
                                        <td>
                                            <div class="tc">Saliente</div>
                                        </td>
                                    </tr>
                                </tbody>
                                <div class="loading">
                                    <div id="loading" class="spinner2" style="display: none;"><span></span></div>
                                    <div id="no_more" style="display: none;"><span>no more</span></div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="pagination" class="paging clearfix hidden-xs hidden-sm">
                    <div class="showing_entries">
                        Mostrando 1 a 10 de 21 de entradas
                    </div>
                    <div class="navigation">
                        <div class="show_entries btn dropup">
                            <div data-toggle="dropdown" class="dropdown-toggle"><span>
                    Mostrar 10 entradas
                </span> <i class="si si-angle_down"></i></div>
                            <ul class="dropdown-menu">
                                <li><a href="#">10</a></li>
                                <li><a href="#">25</a></li>
                                <li><a href="#">50</a></li>
                                <li><a href="#">100</a></li>
                            </ul>
                        </div>
                        <ul class="pagination">
                            <li class="prev disabled"><a href="#" aria-label="Previous"><i class="si si-arrow_border_left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class=""><a href="#">2</a></li>
                            <li class=""><a href="#">3</a></li>
                            <li><span class="span_input"><span><input type="text" name="page" size="1" class="form-control input-sm"></span> <span> / 3</span></span>
                            </li>
                            <li class="next"><a href="#" aria-label="Next"><i class="si si-arrow_border_right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--end main content-->
        <div class="main_footer">
            Copyright © 2018 SpyMyFone. Todos los Derechos Reservados.
            <div class="language dropup">
                <a href="#" class="flag flag-es dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false"><span>Español</span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="#" class="flag flag-en"><span>English</span></a></li>
                    <li>
                        <a href="#" class="flag flag-br"><span>Português</span></a></li>
                    <li>
                        <a href="#" class="flag flag-fr"><span>Français</span></a></li>
                    <li>
                        <a href="#" class="flag flag-de"><span>Deutsch</span></a></li>
                    <li>
                        <a href="#" class="flag flag-it"><span>Italiano</span></a></li>
                    <li>
                        <a href="#" class="flag flag-nl"><span>Nederlands</span></a></li>
                    <li>
                        <a href="#" class="flag flag-ar"><span>العربية</span></a></li>
                    <li>
                        <a href="#" class="flag flag-ja"><span>日本語</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>
