<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1,maximum-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="public/img/favicon.ico" mce_href="public/img/logo_i.png" type="image/x-icon">
    <title>SpyMyFone - Mensajes - Live Demo</title>

    <link href="https://statics.spymyfone.com/css/main.min.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">

<script src="https://statics.spymyfone.com/js/lib/jquery-2.1.4.bootstrap.min.js"></script>

</head>

<body class="">
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>

    <div class="mobile_header visible-xs-block visible-sm-block">
        <a href="#" class="menu_btn mobile-menu"><i class="si si-table"></i></a>
        <div class="other_btn">
            <a href="#" class="btn btn-border btn-xs">Pruébalo Ahora</a>
        </div>
        <div class="column">SpyMyFone</div>
    </div>
    <!--end mobile top-->

    <div class="livedemo_tab">
        <div class="livedemo_top">
            <a href="#" class="curr"><i class="si si-android"></i> Demo de Android</a>
            <a href="#">Ver Demo de iOS &gt;&gt;</a>
        </div>
        <div class="livedemo_tab_group">
            <a href="#" class="curr">Demo de Android</a>
            <a href="#">Demo de iOS</a>
        </div>
    </div>
    <!-- live demo end -->

    <div class="page_container">
      <div class="main_sidebar">
          <div class="sidebar_menu">
              <div class="side_header">
                  <div class="logo_box"><a href="/" target="_blank" class="logo logo_spyzie">SpyMyFone</a></div>

                  <!--refresh now start-->
                  <div class="account_info">
                      livedemo@spymyfone.com
                      <div class="sync_time">
                          <div class="time">
                              <button type="button" class="btn btn-link btn_sync"><span><i class="si si-sync"></i></span></button> <i>Manténgase actualizado: nov. 18, 2018 18:10</i>
                          </div>
                      </div>
                  </div>
                  <div class="select_device select_device_dropdown">
                      <div class="btn_dropdown">
                          <span class="icon"><i class="si si-phone"></i></span>
                          <span class="name" title="Demo's Galaxy S7">Demo's Galaxy S7</span>
                      </div>
                  </div>
              </div>
              <div class="nav side_select_nav" style="display:none;">
                  <ul>
                      <li>
                          <a href="#" title="Demo's iPhone">
                              <i class="si si-phone"></i>
                              <span>Demo's iPhone</span>
                          </a>
                      </li>
                      <li><a href="#"><i class="si si-add"></i><span>Añadir nuevo dispositivo</span></a>
                      </li>
                  </ul>
              </div>
              <div class="nav side_select_nav side_menu">
                  <ul>
                      <li id="site_index">
                          <a href="tablero"><i class="si si-dashboard"></i><span>Tablero</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="clue_index">
                          <a href="pista"><i class="si si-eye"></i><span>Pista</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="call_log_index">
                          <a href="llamadas"><i class="si si-call"></i><span>Llamadas</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="contacts_index">
                          <a href="#">
                            <i class="si si-contacts"></i>
                            <span class="span_icon">Contactos<img src="public/img/lock.png" class="ico_cand"></span>
                            <i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="sms_index" class="curr">
                          <a href="mensajes"><i class="si si-message"></i><span>Mensajes</span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="social_apps_" class="level">
                          <a href="#"><i class="si si-socialapps"></i><span>Apps sociales <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                          <ul>
                              <li id="whats_app_index"><a href="#"><span>WhatsApp</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="whatsapp_files_index"><a href="#"><span>Archivos de WhatsApp</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_facebook"><a href="#"><span>Facebook</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_messenger"><a href="#"><span>Messenger</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_snapchat"><a href="#"><span>Snapchat</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_skype"><a href="#"><span>Skype</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_line"><a href="#"><span>LINE</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_instagram"><a href="#"><span>Instagram</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_viber"><a href="#"><span>Viber</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_kik"><a href="#"><span>Kik</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_tinder"><a href="#"><span>Tinder</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_wechat"><a href="#"><span>WeChat</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_qq"><a href="#"><span>QQ</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_hangouts"><a href="#"><span>Hangouts</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_telegram"><a href="#"><span>Telegram</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_messengerlite"><a href="#"><span>Messenger Lite</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_facebooklite"><a href="#"><span>Facebook Lite</span><i class="new_icon new_icon3 hide"></i></a></li>
                              <li id="social_apps_tumblr"><a href="#"><span>Tumblr</span><i class="new_icon new_icon3 hide"></i></a></li>
                          </ul>
                      </li>
                      <li id="location_index">
                          <a href="#"><i class="si si-location_mark"></i><span>Ubicaciones<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="geo_fence_index">
                          <a href="#"><i class="si si-geo_fence"></i><span>Geo-Cercas <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="screenshots_index">
                          <a href="#"><i class="si si-screenshot"></i><span>Capturas de Pantallas<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="browser_log_index">
                          <a href="#"><i class="si si-history"></i><span>Historial del Navegador<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="images_index">
                          <a href="#"><i class="si si-photos"></i><span>Fotos<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="videos_index">
                          <a href="#"><i class="si si-video"></i><span>Previsualizacion de Video<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="voices_index">
                          <a href="#"><i class="si si-voice"></i><span>Nota de voz <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="documents_index">
                          <a href="#"><i class="si si-document"></i><span>Documentos <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="calendar_index">
                          <a href="#"><i class="si si-calendar"></i><span>Calendarios<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="wifi_logger_index">
                          <a href="#"><i class="si si-wifi"></i><span>Registrador de WiFi<span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="key_logger_index">
                          <a href="#"><i class="si si-keylogger"></i><span>Registrador de Teclas<span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="apps_index">
                          <a href="#"><i class="si si-appstore"></i><span>Aplicaciones<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="device_schedule_index">
                          <a href="#"><i class="si si-device_schedule"></i><span>Restricción Programada<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="app_activity_index">
                          <a href="#"><i class="si si-app_activity"></i><span>Actividad de las Aplicaciones<img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="toggle_alerts_index">
                          <a href="#"><i class="si si-toggle_alerts"></i><span>Alertas de Palabras Claves <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="mail_index">
                          <a href="#"><i class="si si-mail"></i><span>E-mail <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                      <li id="auto_snapshot_index">
                          <a href="#"><i class="si si-appshot"></i><span>Captura Inteligente <span class="label">HOT</span><img src="public/img/lock.png" class="ico_cand"></span><i class="new_icon new_icon3 hide"></i>                                    </a>
                      </li>
                  </ul>
                  <ul class="other">
                      <li><a href="#" target="_blank"><i class="si si-help"></i><span>Ayuda</span></a></li>
                      <li><a href="#" target="_blank"><i class="si si-feedback"></i><span>Feedback</span></a>
                      </li>
                      <li><a href="#"><i class="si si-logout"></i><span>Cerrar Sesión</span></a>
                      </li>
                      <li><span>&nbsp;</span></li>
                      <li><span>&nbsp;</span></li>
                      <li><span>&nbsp;</span></li>
                      <li><span>&nbsp;</span></li>
                      <li><span>&nbsp;</span></li>
                      <li><span>&nbsp;</span></li>
                  </ul>
              </div>
          </div>
      </div>
        <!--end sidebar-->
        <div class="main_content ">
            <div class="main_header">
                <ul class="user-info-menu hidden-xs hidden-sm">
                    <li class="user-profile-link">
                        <a href="#" class="btn-full btn_try_now">Pruébalo Ahora</a>
                    </li>
                </ul>
                <h1 class="column">Mensajes</h1>
            </div>

            <div class="commonAlert">
            </div>

            <div id="app" class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-header panel_operation clearfix">
                        <div class="screen">
                            <div class="search">
                                <div class="box">
                                    <input type="text" name="search" placeholder="Búsqueda" maxlength="20">
                                    <button><i class="si si-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="summary_box" class="col-md-5">
                            <div class="users_list list_click">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                                    <div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
                                        <ul id="infinateScroll">
                                            <li><a href="#" class="curr"><span class="user_img phone_img"><img src="public/img/b.png"></span> <div class="user_info"><span class="user_name">Théophane</span> <p title="I don&amp;#039;t have time, though.">I&nbsp;don't&nbsp;have&nbsp;time,&nbsp;though.</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/c.png"></span> <div class="user_info"><span class="user_name">Tobias&nbsp;Wagenschwanz</span> <p title="looks like I&amp;#039;m going to ask for a time off again.">looks&nbsp;like&nbsp;I'm&nbsp;going&nbsp;to&nbsp;ask&nbsp;for&nbsp;a&nbsp;time&nbsp;off&nbsp;again.</p> <i class="si si-delete delete"></i></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/e.png"></span> <div class="user_info"><span class="user_name">Tom&nbsp;Brackey</span> <p title="Maybe not, but I do know you.">Maybe&nbsp;not,&nbsp;but&nbsp;I&nbsp;do&nbsp;know&nbsp;you.</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/f.png"></span> <div class="user_info"><span class="user_name">Michelle</span> <p title="Once you don&amp;#039;t stay in touch with for too long, It&amp;#039;ll be not about parent, It&amp;#039;ll be about police.">Once&nbsp;you&nbsp;don&amp;#039;t&nbsp;stay&nbsp;in&nbsp;touch&nbsp;with&nbsp;for&nbsp;too&nbsp;long,...</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/default_avatar.png"></span> <div class="user_info"><span class="user_name">4022911000</span> <p title="Three or four days hereafter, I&amp;#039;ll be fine, no need to.">Three&nbsp;or&nbsp;four&nbsp;days&nbsp;hereafter,&nbsp;I'll&nbsp;be&nbsp;fine,&nbsp;no&nbsp;need&nbsp;to.</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/default_avatar.png"></span> <div class="user_info"><span class="user_name">+18587043344</span> <p title="Okay ... wish you guys a good time ...">Okay&nbsp;...&nbsp;wish&nbsp;you&nbsp;guys&nbsp;a&nbsp;good&nbsp;time&nbsp;...</p> <i class="si si-delete delete"></i></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/a.png"></span> <div class="user_info"><span class="user_name">KR&nbsp;Dkfm.&nbsp;Leopold&nbsp;Wundsam</span> <p title="It does not sound like a good idea.">It&nbsp;does&nbsp;not&nbsp;sound&nbsp;like&nbsp;a&nbsp;good&nbsp;idea.</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/1824784874.png"></span> <div class="user_info"><span class="user_name">Bharti</span> <p title="Stay out of my sight, Bharti.">Stay&nbsp;out&nbsp;of&nbsp;my&nbsp;sight,&nbsp;Bharti.</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/f.png"></span> <div class="user_info"><span class="user_name">Kathleen&nbsp;J.&nbsp;Welch</span> <p title="I want to know why did you blab my secret to Danny.">I&nbsp;want&nbsp;to&nbsp;know&nbsp;why&nbsp;did&nbsp;you&nbsp;blab&nbsp;my&nbsp;secret&nbsp;to&nbsp;Danny.</p> <!----></div></a></li>
                                            <li><a href="#" class=""><span class="user_img phone_img"><img src="public/img/1824784874.png"></span> <div class="user_info"><span class="user_name">Andy</span> <p title="Poor little girl, you have no idea what you&amp;#039;ve done.">Poor&nbsp;little&nbsp;girl,&nbsp;you&nbsp;have&nbsp;no&nbsp;idea&nbsp;what&nbsp;you've&nbsp;done.</p></div></a></li>
                                        </ul>
                                        <div class="loading">
                                            <div id="loading" class="spinner2" style="display: none;"><span></span></div>
                                            <div id="no_more" style="display: none;"><span>No más</span></div>
                                        </div>
                                    </div>
                                    <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 522.816px;"></div>
                                    <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="detail_box" class="col-md-7">
                            <div class="detail_box message_detail list_detail">
                                <div class="btn_back"><a href="#" class="btn-full-radius5-black list_click_back"><i class="si si-arrow_left"></i></a></div>
                                <div class="loading" style="display: none;">
                                    <div id="loading" class="spinner2"><span></span></div>
                                </div>
                                <div class="message_header box_top" style=""><span class="user_img phone_img"><img src="public/img/b.png"></span> <span>A:</span> <strong class="user_name">Théophane</strong></div>
                                <div class="box_cont message_cont">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                                        <div class="full-height" style="overflow: hidden; width: auto; height: 100%;">
                                            <dl><dt class="detail_calendar"><span class="date">10 abr. 2017</span></dt>
                                                <dd>
                                                    <div class="item">
                                                        <div class="info">I&nbsp;bought&nbsp;a&nbsp;new&nbsp;vehicle&nbsp;today,&nbsp;take&nbsp;a&nbsp;ride?</div>
                                                        <div class="time">14:22:06</div>
                                                    </div>
                                                    <div class="item item_r ">
                                                        <div class="info">I&nbsp;don't&nbsp;have&nbsp;time,&nbsp;though.</div>
                                                        <div class="time">14:27:02</div>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 532px;"></div>
                                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--end main content-->
        <div class="main_footer">
            Copyright © 2018 SpyMyFone. Todos los Derechos Reservados.
            <div class="language dropup">
                <a href="#" class="flag flag-es dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false"><span>Español</span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="#" class="flag flag-en"><span>English</span></a></li>
                    <li>
                        <a href="#" class="flag flag-br"><span>Português</span></a></li>
                    <li>
                        <a href="#" class="flag flag-fr"><span>Français</span></a></li>
                    <li>
                        <a href="#" class="flag flag-de"><span>Deutsch</span></a></li>
                    <li>
                        <a href="#" class="flag flag-it"><span>Italiano</span></a></li>
                    <li>
                        <a href="#" class="flag flag-nl"><span>Nederlands</span></a></li>
                    <li>
                        <a href="#" class="flag flag-ar"><span>العربية</span></a></li>
                    <li>
                        <a href="#" class="flag flag-ja"><span>日本語</span></a></li>
                </ul>
            </div>
        </div>
    </div>
<script src="https://statics.spymyfone.com/js/common/spy-global.min.js"></script>

  </body>

</html>
